.information {
  &__header {
    display: flex;
    align-items: center;
    padding: 25px 30px;
    position: relative;
    /* justify-content: c; */

    .header {
      &__logo {
        display: flex;
        /* padding-left: 12px; */
        /* justify-content: center; */
        align-items: center;
        /* position: relative; */
        gap: 10px;
        width: 150px;
        height: 100%;

        &--img {
          /* width: 100%; */
          height: 100%;
          position: relative;
          /* top: 5px; */
          .img {
            &__layout--1 {
              width: 25px;
              height: 25px;
              background-color: var(--red--color);
              border-radius: 5px;
              /* position: relative; */
            }

            &__layout--2 {
              /* content: " "; */
              width: 25px;
              height: 25px;
              background-color: rgba(255, 255, 255, 0.6);
              border: 1px solid rgba(0, 0, 0, 0.2);
              border-radius: 5px;
              position: absolute;
              left: -12px;
              top: -12px;
            }
          }
        }

        &--name {
          font-size: 22px;
          font-weight: 700;
        }
      }

      &__menu {
        ul {
          padding: 0 !important;
        }
        &--list {
          display: flex;
          gap: 30px;
          align-items: center;
          list-style-type: none;
          .list {
            &__item {
              color: var(--gray-color);
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }

      &__button {
        margin-left: auto;
        button {
          border-radius: 7px;
          border: 1px solid black;
          width: 100px;
          height: 35px;
          outline: none;
          background-color: var(--white-color);
          cursor: pointer;
        }
      }
    }
  }
}
